@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');
@import "variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 15px;
    font-family: 'Manrope', sans-serif;
    background-color: hsla(228, 100%, 99%, 0.767);
}
.container {
    min-width: 375px;
    text-align: center;

}